.about {
  width: 100%;
  height: 90vh;
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
  margin-left: -100px;
}
.about .right img {
  border-radius: 30px;
  margin-top: 20px;
}
