.header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f7f2f2;
  margin-top: 0;
}
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.navbar .left {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar .left img {
  width: 50%;
}

.navbar .right {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.right .nav-link {
  color: rgb(43, 42, 42);
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
}
.right .nav-link:hover {
  color: rgb(80, 78, 78);
}
