.product {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.product .productTitle {
  font-family: cursive;
  font-size: 60px;
}

.productList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* product ITEM STYLING */

.productItem {
  border-radius: 15px;
  width: 300px;
  height: 360px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.productItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.productItem img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.productItem h1,
.productItem h4,
.productItem p {
  padding: 10px 0;
  margin: 0;
  margin-left: 20px;
}
.productItem p {
  color: tomato;
}
.productItem h4 {
  color: gray;
}

@media only screen and (max-width: 1300px) {
  .productList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
