.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 140px;
}

.left {
  width: 40%;
  margin-left: 40px;
  text-align: left;
}
.right {
  width: 40%;
  padding-left: 150px;
  margin-top: -60px;
}
.right img {
  width: 105%;
  height: 75%;
}
.left h1 {
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 60px;
  font-weight: 50;
  color: rgb(59, 59, 59);
  padding: 30hpx 0px;
  margin: 20px 0;
}

.left p {
  padding: 30px 0px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(112, 107, 107);
}

.left button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.left button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .left {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .left h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .left p {
    font-size: 30px;
    color: white;
  }

  .left button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .left button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
